/*-----------------standards----------------*/

/*-----------------colors-------------------*/

/*-----------------margins------------------*/
$space-xs:5px;
$space-sm:10px;
$space-sm-md:20px;
$space-md:25px;
$space-md-lg:35px;
$space-lg:50px;

/*-----------------paddings-----------------*/
$pad-xs:5px;
$pad-sm:10px;
$pad-sm-md:20px;
$pad-md:25px;
$pad-md-lg:35px;
$pad-lg:50px;
/*-----------------fonts--------------------*/

/*-----------------buttons------------------*/

/*-----------------containers---------------*/

/*-----------------columns------------------*/
$sizes:7.03%,16.66%,25%,33.33%,41.66%,50%,58.33%,66.66%,75%,83.33%,91.66%,100%;
/*-----------------offsets------------------*/
$offsets:8.03%,16.66%,25%,33.33%,41.66%,50%,58.33%,66.66%,75%,83.33%,91.66%,100%;